* 
{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

canvas 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}