* 
{
    padding: 0;
    margin: 0;
    color: #ff0000;
    font-family: Flaticon;
}

canvas 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

#loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    background: url('../img/ajax-loader.gif');
}

#font
{
    font-family: Flaticon;
    visibility: hidden;
}